{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur | Administration{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/tom-select.bootstrap5.min.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('plugins/tom-select.base.js') }}"></script>
<script>
new TomSelect('#user_roles',{plugins: ['remove_button']});
</script>
{% endblock %}

{% block body %}
    <header class="row">
        <div class="col-md-9">
            <h2 class="h1 mb-4">Créer un utilisateur</h2>
        </div>
        <div class="col-md-3 text-end">
            <a href="{{ path('user_list') }}" class="btn btn-primary btn-sm">
                <i class="bi bi-arrow-left"></i> Retour
            </a>
        </div>
    </header>

    <div class="row">
        {{ form_start(form, {'action' : path('user_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
