{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/tom-select.bootstrap5.min.css') }}">
{% endblock %}
{% block javascripts %}
<script src="{{ asset('plugins/tom-select.base.js') }}"></script>
<script>
new TomSelect('#user_roles',{plugins: ['remove_button']});
</script>
{% endblock %}

{% block header_title %}Modifier <strong>{{ user.username }}</strong>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
